:root {
  --clr-primary-100: hsl(229, 78%, 95%);
  --clr-primary-400: hsl(228, 68%, 51%);
  --clr-secondary-800: hsl(175, 78%, 9%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-800: hsl(0, 0%, 10%);
  --clr-neutral-900: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
iframe {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  border: 0;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
